/*Personalizacion del index*/
body{
    background-color: rgb(133, 128, 128);
    color:azure;
    margin: 0%;
}
h1{
    color:azure;
    background-color: black;
    padding: 5%;
}
li{
    color:rgb(0, 0, 0);
    padding: 3%;
}
h2{
    color:rgb(0, 0, 0);
    padding: 3%;
}
/*Personalizacion del index*/
#Estudiar{
    width: 69%;
    margin: 5%;
    margin-left: 15%;
    background-color: azure;
    border-width: 3px;
}
.foto{
    width: 30%;
    margin: 1.5%;
    display: inline-block;
    vertical-align: middle;
}
img{
    width: 100%;
}
.fotogrande{
    width: 30%;
}
.texto{
    width: 60%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}
.pagination{
    margin-left: 40%;
}
.baner{
    width: 60%;
    margin-left: 19%;
}
#boton1{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgb(187, 186, 186),rgba(36, 36, 35, 0.725));
    text-decoration: none;
}
#boton1:hover {
    background:linear-gradient(rgba(36, 36, 35, 0.725),rgb(187, 186, 186));
}
#boton2{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgb(187, 186, 186),rgba(36, 36, 35, 0.725));
    text-decoration: none;
}
#boton2:hover {
    background:linear-gradient(rgba(36, 36, 35, 0.725),rgb(187, 186, 186));
}
#boton3{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgb(187, 186, 186),rgba(36, 36, 35, 0.725));
    text-decoration: none;
}
#boton3:hover {
    background:linear-gradient(rgba(36, 36, 35, 0.725),rgb(187, 186, 186));
}
#boton4{
    font-size: 21px;
    font-family: Arial;
    width: 5%;
    padding: 2%;
    border-width: 1px;
    color:azure;
    border-color:black; 
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    text-shadow: 5px 5px 0px #2f2f2f;
    background:linear-gradient(rgb(187, 186, 186),rgba(36, 36, 35, 0.725));
    text-decoration: none;
}
#boton4:hover {
    background:linear-gradient(rgba(36, 36, 35, 0.725),rgb(187, 186, 186));
}